<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
    <div>
        <h1> Jaskinia Kota     Wyszukaj        Wyloguj </h1>
    </div>
    <div style = "clear:both"></div>
    <div style="width:200px; float:left">
        <h3> Fajnie, że wpadłeś Panie kolego :D </h3>
        {% for i in category %}
            <p><a href = "category/{{ i.id }}"> {{ i.name }} </a></p>
        {% endfor %}
    </div>
    <div style="width:700; float:left">
        sfdghjkl;jf  dhdhdhd
    </div>
    <div style="clear:both"></div>
</body>
</html>

